{% comment %}

    Bootstrap Alert, https://getbootstrap.com/docs/5.1/components/alerts/

    E.G. --> {% include feature/alert.html text="example text" color="warning" align="center" %}

    Options:
    - "text" = text for alert, can use Markdown.
    - "color" = semantic status: success, info, warning or danger (optional, default: info)
    - "align" = text alignment (center, right, left)

{%- endcomment -%}
{% capture status_variant %}{% include ui/status-variant.html variant=include.color %}{% endcapture %}
<div class="narrow-content">
    <div class="alert alert-status-{{ status_variant | strip }} feature-alert {% if include.align %}text-{{ include.align | default: 'center' }}{% endif %}" role="alert">
    {{ include.text | markdownify }}
    </div>
</div>
