{% comment %}

    Site modal feature.

    E.G. --> {% include feature/modal.html button="More Info" color="accent" title="Information" text="Example text" %}

    Options:
    - "button" = text of button to trigger modal
    - "color" = semantic button variant (optional, default: accent)
    - "title" = header text for modal pop up
    - "text" = body text for modal pop up, can use markdown formatting (tip: use a Liquid capture to add more complex content)

{%- endcomment -%}
{% assign modal_id = include.button | slugify | append: '-modal' %}
{% capture modal_body %}
  {{ include.text | markdownify }}
{% endcapture %}
{% capture button_variant %}{% include ui/button-variant.html variant=include.color default='accent' %}{% endcapture %}

<p class="text-center mb-3">
  <button type="button" class="btn btn-{{ button_variant | strip }}" data-ta-modal-target="#{{ modal_id }}">{{ include.button }}</button>
</p>

{% include ui/modal.html
  id=modal_id
  title=include.title
  body=modal_body
  size='sm'
%}
