{% comment %}

    Site modal feature.

    E.G. --> {% include feature/modal.html button="More Info" color="info" title="Information" text="Example text" %}

    Options:
    - "button" = text of button to trigger modal
    - "color" = color of modal button (primary, secondary, success, danger, warning, info, light, dark)
    - "title" = header text for modal pop up
    - "text" = body text for modal pop up, can use markdown formatting (tip: use a Liquid capture to add more complex content)

{%- endcomment -%}
{% assign modal_id = include.button | slugify | append: '-modal' %}
{% capture modal_body %}
  {{ include.text | markdownify }}
{% endcapture %}

<p class="text-center mb-3">
  <button type="button" class="btn btn-{{ include.color | default: 'primary' }}" data-ta-modal-target="#{{ modal_id }}">{{ include.button }}</button>
</p>

{% include ui/modal.html
  id=modal_id
  title=include.title
  body=modal_body
  size='sm'
%}
