{% comment %}

    Adds Bootstrap styled breadcrumbs to page.
    By default the crumbs are: Archivo / Documentos / current item id.

{%- endcomment -%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="breadcrumb-link text-dark" href="{{ '/archivo/' | relative_url }}">Archivo</a></li>
    <li class="breadcrumb-item"><a class="breadcrumb-link text-dark" href="{{ '/archivo/documentos/' | relative_url }}">Documentos</a></li>
    <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.objectid | default: page.title | truncatewords: 10 }}</li>
</ol>
