---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
---
<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} elementos){% endif %}</div>
    <h2 class="mb-3">{{ page.title }} 
        <!--{% unless page.display_template == 'record' %}<a href="#metadata" class="ms-5 btn btn-sm btn-outline-dark small">Item Info 
            <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info">
                <use xlink:href="{{ '/assets/css/cb-icons.svg' | relative_url }}#arrow-down"/>
            </svg>
        </a>{% endunless %}-->
    </h2>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row item-page-main g-4 align-items-start">
                <div class="col-12 col-lg-5 item-page-media">
                    {{ content }}
                </div>

                <div class="col-12 col-lg-7 item-page-metadata" id="metadata">
                    {% include item/metadata.html %}
                </div>
            </div>
        </div>

        <div class="col-12 py-4">
            {% include item/citation-box.html %}
        </div>
        {% assign external_url = "" %}
        {% assign page_row_for_url = site.data[site.metadata] | where: "objectid", page.objectid | first %}
        {% if page_row_for_url %}
        {% if page_row_for_url.url %}
        {% assign external_url = page_row_for_url.url %}
        {% endif %}
        {% endif %}
        {% assign has_rights = false %}
        {% if page.rights %}
        {% assign has_rights = true %}
        {% elsif page.rightsstatement %}
        {% assign has_rights = true %}
        {% elsif page.rightstatement %}
        {% assign has_rights = true %}
        {% endif %}
        {% assign has_technical = false %}
        {% if page.objectid %}
        {% assign has_technical = true %}
        {% elsif page.format %}
        {% assign has_technical = true %}
        {% elsif page.language %}
        {% assign has_technical = true %}
        {% elsif external_url != "" %}
        {% assign has_technical = true %}
        {% elsif page.iiif %}
        {% assign has_technical = true %}
        {% endif %}
        {% assign show_bottom_panels = false %}
        {% if has_rights %}
        {% assign show_bottom_panels = true %}
        {% elsif has_technical %}
        {% assign show_bottom_panels = true %}
        {% endif %}
        {% if show_bottom_panels %}
        <div class="col-12 pb-4">
            <div class="row g-4">
                {% if has_rights %}
                <div class="{% if has_technical %}col-12 col-lg-6{% else %}col-12{% endif %}">
                    {% include item/rights-box.html %}
                </div>
                {% endif %}
                {% if has_technical %}
                <div class="{% if has_rights %}col-12 col-lg-6{% else %}col-12{% endif %}">
                    {% include item/technical-box.html external_url=external_url %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>
