<footer class="bg-light pt-4 mt-auto container-fluid">

    <div class="row pb-4 mb-2">

        <div class="col-md-7 px-4 mt-3">

            <h1><a href="{{ '/' | relative_url }}" class="text-dark">{{ site.title }}</a></h1>
            <p class="text-dark"><small>{{ site.description }}</small></p>

        </div>

        <div class="col-md-5 mt-3 text-center">

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1 fs-small">
        <p class="text-dark-light">Universitat Autònoma de Barcelona. 2026 | Built with Collection Builder, CETEIcean and more</p>
    </div>

</footer>