@use "variables" as *;

.btn {
    border-radius: 50px;
}
.btn-dark:hover{
    background-color: transparent;
    color: $color-dark;
    border: 1px solid $color-dark;
}    



// Scroll to top button - personalizado
#scroll-to-top {
  color: $color-dark;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transform: translateY(0);
}

#scroll-to-top i {
  font-size: 0.7em;
}

#scroll-to-top:hover {
  transform: translateY(-6px);
}