<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100{% if page.url == '/' %} home-page{% endif %}">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    <!--{% include collection-banner.html %}-->
    {% include navbar.html %}
    <main id="maincontent" role="main" class="flex-shrink-0{% unless page.navbar_behavior == 'hidden-on-load' %} mt-navbar{% endunless %}">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    <!--{% include scroll-to-top.html %}-->
    <script src="{{ '/assets/js/navbar-behavior.js' | relative_url }}"></script>
  </body>
</html>