---
layout: page
---

{{ content }}

<div class="container">
  <div class="row">
      <!-- Columna principal para el texto TEI -->
      <div id="TEI" class="col-lg-8 fuenteovejuna"></div>

      <!-- Columna para las opciones -->
      <div id="col-opciones" class="col-lg-4">
        <div id="panelNotas">
            <h4>Notas</h4>
            <div id="noteContent">
                <!-- Aquí se mostrará el contenido de la nota -->
            </div>
        </div>
        <div>
            <button id="toggleLines" class="fixed-button">Mostrar estrofas</button>
        </div>
      </div>
  </div>
</div>

<div>
  <a href="{{site.baseurl}}/assets/tei/{{page.document}}" target="_new">
    See original TEI.
  </a>
</div>

<link rel="stylesheet" href="{{site.baseurl}}/assets/tei.css"/>

<script src="{{site.baseurl}}/assets/js/CETEI.js"></script>
<script>
  var CETEIcean = new CETEI();
  CETEIcean.getHTML5("{{site.baseurl}}/assets/tei/{{page.document}}", function(data) {
      document.getElementById("TEI").appendChild(data);
  });
</script>
<script src="{{site.baseurl}}/assets/js/tei.js"></script>

<!-- Configuración de Hypothesis para cargar tu grupo -->
<script type="application/json" class="js-hypothesis-config">
{
  "groups": ["nGjPB7E1"],    
  "openSidebar": false,         
  "showHighlights": "always"    
}
</script>
<script async src="https://hypothes.is/embed.js"></script>
