{% comment %}

    Adds a basic citation box for child item with reference link to the child modal.

{%- endcomment -%}
<section class="item-info-section">
    <h3 class="item-info-section-title">Cita recomendada</h3>
    <dl>
        <dd>"{{ child.title | default: page.title }}", {{ site.title }}, {% if site.organization-name %}{{ site.organization-name }}, {% endif %}<a href="{{ page.url | absolute_url }}#{{ child.objectid }}">{{ page.url | absolute_url }}#{{ child.objectid }}</a></dd>
    </dl>
</section>
